.fac_images {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
  padding-bottom: 3%;
  border-bottom: $result_border;

}

.fac_big_img{
  display: flex;
  width: 90vw;
  max-width: 100vw;
  min-width: 100vw;
  // justify-content: space-around;
  margin-bottom: 3%;
  // border: $green1;
  justify-content: space-around;

  @media (screen and min-width: 640px){
    margin-bottom: 1%;
width: 70vw;
min-width: 70vw;
max-width: 70vw;
  }

  @media (screen and min-width: 768px){
    margin-bottom: -2%;
width: 70vw;
min-width: 70vw;
max-width: 70vw;
  }

  @media (screen and min-width: 1200px){
      margin-bottom: -1.5%;
width: 60vw;
min-width: 60vw;
max-width: 60vw;
  }

}

.fac_nav{
  z-index: 2;
  // border: $red1;
  width: 7%;

  max-width: 7%;
  min-width: 7%;
  display: flex;
  @include flex_center_image;

  & img{
    // border: $black1;
    // width:
  }
}


.fac_profile_img {
  // border: $red1;
  // margin: 0 -15% 4% -15%;
  // padding:  0 -15% 4% -15%;
  // border: $green1;
  width: 100%;

  @media (screen and min-width: 640px){
width: 80%;
  }

  @media (screen and min-width: 640px){
width: 90%;
  }

  display: flex;
  justify-content: center;
  align-items: center;

&>div{
  max-height: 100%;
  width: 100%;
  padding: 2%;
  // border: $red2;
  display: flex;
  justify-content: center;
}

& img{
  max-width: 90%;
  max-height: 100%;

}

  display: flex;
  // @include flex_center_image(80%);
  // margin-bottom: 4%;
  //
    @media (screen and min-width: 768px){
      width: 80%;
// margin: 0 -50% 4% -50%;
      // @include flex_center_image(78%);
    }

    @media (screen and min-width: 992px){
      width: 77%;
      // margin: 0 -53% 0% -53%;
    }
    @media (screen and min-width: 1200px){
      @include slider_center_img();
      width: 72%;
      max-width: 72%;
      margin-bottom: 0%;
    }
}


.fac_all_images{
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}

.fac_image{
  width: calc(100% / 6 - 5px);
  margin: 2px;
  display: flex;


  @include flex_center_image(95%);

  @media (screen and min-width: 768px){

      width: calc(100% / 7 - 5px);
  }


  @media (screen and min-width: 992px){
    @include flex_center_image(75%);

  }

  @media (screen and min-width: 1200px){
    @include flex_center_image(63%);
  }
}
