// @import "reset";
//
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "definitions";
@import "mixins";
@import "keyframes";



@import "header";

@import "calendars";
@import "filters_calendars";
@import "filters_other";
@import "rooms_section";

@import "room_selected";
@import "rs_amenities";
@import "rs_images";
@import "rs_calendars";
@import "rs_arrangement_info";
@import "rs_contact_owner";

@import "send_email";

@import "facility";
@import "fac_images";
@import "fac_infos";

@import "fac_rooms";

@import "facilities";

@import "owner";
@import "owner_facilities_n_rooms";

@import "footer";
