
// ===========GRANICE=========================
$red1 : 1px solid red;
$blue1 : 1px solid blue;
$green1 : 1px solid green;
$black1 : 1px solid black;
$yellow1 : 1px solid yellow;
$red1 : 1px solid red;
$gray1: 1px solid gray;
$black1: 1px solid black;

$red2 : 2px solid red;
$blue2 : 2px solid blue;
$green2 : 2px solid green;
$black2 : 2px solid black;
$yellow2 : 2px solid yellow;
$red2 : 2px solid red;
$gray2: 2px solid gray;
$black2: 2px solid black;



// ============FONTOVI====================
$font1 : 'Merriweather', serif;
$font2 : 'Montserrat', sans-serif;
$titles : 'Playfair Display', serif;



// ==========BOJE==============================
$col_black : rgb(4, 4, 4);
$cal_only_day : rgba(#d1d1d1, 0.8);
$date_color : #acdfe4;

$ava_day_col : #03A45E;
$unava_day_col : #e63d44;
$selected_day_col : rgb(26, 34, 41);
$day_with_discount :  #03A45E;


.go_back{

  font-size: 80%;
  text-decoration: underline;
  float: left;
  margin-left: 3%;
  color: black;
  margin-bottom: 3%;

  &:visited{
    color: $black1;
  }

  &:hover{
    color: black1;
  }
}
